:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  background-color: #242424;
  background-image: url("cartographer.png");
  background-position: 0 0;
  background-repeat: repeat;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  min-width: 320px;
  height: 100%;
  min-height: 100dvh;
}

header,
footer,
#app {
  flex: 0 0 100%;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

header {
  padding-bottom: 0.5rem;
}

h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

h2 {
  font-size: 0.875rem;
  font-weight: normal;
  margin: 0 auto;
  max-width: 240px;
}

#masses {
  min-height: 80px;
}

#masses > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 0.5rem;
}

#masses > div > div {
  display: flex;
  justify-content: center;
  flex: 0 0 calc(33.33% - 1rem);
  gap: 0.5rem;
  margin: 0.5rem;
}

#error {
  white-space: pre;
  justify-content: center;
  background-color: #898989;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0 1rem 1rem;
}

.chart {
  padding: 0 0.5rem;
  height: 320px !important;
}

.card {
  background: #2e2e2e;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 2rem 1rem 1rem;
  margin: 0 1rem;
}

.input {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}
.input > button {
  grid-column: span 2;
}

.input:last-of-type {
  border: none;
  grid-template-columns: 1fr;
  display: inline-grid;
  width: auto;
}

.input > strong {
  grid-column: span 4;
  padding: 0.5rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  margin-bottom: 0.3rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

button div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 25px;
}

button small {
  font-size: 0.425rem;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

select {
  appearance: none;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  text-align: center;
  transition: border-color 0.25s;
}

select:hover {
  border-color: #646cff;
}

select:focus,
select:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

footer small {
  gap: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 1rem;
  font-size: 0.75rem;
}

footer,
footer a {
  color: #898989;
}

footer a:hover {
  border-color: #646cff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  select,
  input,
  button {
    background-color: #e6e6e6;
  }

  .card {
    background-color: #f9f9f9;
  }

  footer a {
    color: #213547;
  }

  footer a:hover {
    color: #747bff;
  }
}

@media only screen and (min-width: 768px) {
  .chart {
    height: 480px !important;
  }

  .input strong {
    flex: 0 0 auto;
  }

  .input > button {
    grid-column: span 1;
  }

  #masses {
    min-height: 40px;
  }

  #masses > div > div {
    flex: 0 0 auto;
  }
}
