name: Pull

on:
  pull_request:
    branches:
      - main
jobs:
  verify:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install dependencies
        uses: actions/setup-node@v6
        with:
          node-version: 20
      - run: npm ci

      - name: Format
        run: npm run format:check

      - name: Lint
        run: npm run lint:check
