name: Pull

on:
  pull_request:
    branches:
      - main
jobs:
  verify:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install dependencies
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - run: npm ci

      - name: Format
        run: npm run format:check

      - name: Lint
        run: npm run lint:check

      - name: Changeset status
        if: ${{ !startsWith(github.head_ref, 'changeset-release/') }}
        run: npx changeset status

      - name: Check Deno version sync
        run: npm run check:deno-versions

      - name: Build
        run: npm run build
