name: Publish Package to npmjs
on:
  push:
    branches:
      - main
    release:
      types: [created]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
 - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'
      - name: Install dependencies and build
        run: npm ci && npm run build
      - name: Publish package on NPM
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
